<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body text="#000000" bgcolor="#FFFFFF">
  <div style="margin: 0px; padding: 0px;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#000000">
      <tbody>
        <tr>
          <td valign="top" bgcolor="#ebebeb">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td height="150" bgcolor="#0e4e91"></td>
                </tr>
              </tbody>
            </table>
          </td>
          <td width="600" valign="top" bgcolor="#ebebeb">
            <table width="600" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td valign="top" bgcolor="#ebebeb">
                    <table valign="top" width="600" cellspacing="0" cellpadding="10" border="0" align="center">
                      <tbody>
                        <tr>
                          <td bgcolor="#0e4e91" align="center">
                            <img src="cid:part1.ZSfJ5NXV.kGM1ZpH9@tez-tour.com" alt="Tez Tour" width="211" height="62">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table style="border-bottom: 1px solid #c2c2c2;" width="600" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td width="212" valign="bottom" bgcolor="#268d90" align="center">
                            <img src="cid:part2.i7cWltsK.HtvnlZ0A@tez-tour.com" alt="Department of system integration" width="212" height="180" border="0">
                          </td>
                          <td width="388" bgcolor="#268d90" align="center">
                            <span style="font-size: 35px; color: rgb(255, 255, 255);">Служба технической поддержки TEZ TOUR</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="text-align: center;">
                      <b>Мы на связи!</b><br>
                      <a href="mailto:help@tez-tour.com">help@tez-tour.com</a><br>
                      +74957751009 (1000) <br>
                      <a href="http://vk.com/teztourrf" target="_blank"><img src="cid:part3.5XaJj6MD.LHon2jN8@tez-tour.com" width="30" height="30" border="0"></a>
                      <a href="http://www.odnoklassniki.ru/teztourus" target="_blank"><img src="cid:part4.I0JGAx37.QeYaEXJC@tez-tour.com" width="30" height="30" border="0"></a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td height="28" bgcolor="#ebebeb"></td>
                </tr>
              </tbody>
            </table>
          </td>
          <td valign="top" bgcolor="#ebebeb">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td height="150" bgcolor="#0e4e91"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>